<header>
  <div id="logo">
  	<div class="wf-logo"></div>
  </div>
  <h1>&nbsp;</h1>
  <p class="hours italic">&nbsp;</p>
  <h2>&nbsp;</h2>
  <p class="disclaimer italic">&nbsp;</p>
</header>
<main></main>