<style type="text/css">
	nav {
		height: 20px;
		width: 100%;
		position: fixed;
		z-index: 100;
		width: 310px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	nav ul {
		list-style-type: none;
		padding: 0;
	}
	nav ul li {
		float: left;
		margin-left: 10px;
	}
	nav ul li a {
		color: #ccc;
		font-size: 12px;
		text-decoration: none;
	}
	nav ul li a:hover {
		color: white;
	}
</style>
<nav>
  <ul>
  	<li><a data-bypass href="/">Cache</a></li>
  	<li><a data-bypass href="/deals">Deals</a></li>
  	<li><a data-bypass href="/events">Events</a></li>
  	<li><a data-bypass href="/movies">Movies</a></li>
  	<li><a data-bypass href="/services">Services</a></li>
  	<li><a data-bypass href="/stores">Stores</a></li>
  </ul>
</nav>