<script type="text/template" id="template-store-list">
	{{ $(App.cache.stores).each(function(i, store) { }}
		<article data-index="{{= i }}" data-categories="{{= store.category_codes.join(',') }}" {{ if (store.deals.length > 0) { }}deals{{ } }}>
			<div class="col-33">
				{{ if (store.retailer.hasLogo) { }}
					<img src="//res.cloudinary.com/wlabs/image/upload/q_30,w_360,f_auto/{{= store.retailer.logo_ref }}" />
				{{ } }}
				{{ if (!store.retailer.hasLogo) { }}
					<div class="retailer-logo">
						<div>
							<h1>{{= store.retailer.name }}</h1>
							<h2>At Westfield</h2>
						</div>
					</div>
				{{ } }}
			</div>
			<div class="col-33">
				<h4>FLOOR</h4>
				<p>Level {{= store.level }}</p>
				<h4>SHOP CATEGORIES</h4>
				<p>{{= store.categories.join(', ') }}</p>
				{{ if (store.deals.length > 0) { }}
				<h4 class="italic toggle deal">
					<div class="wf-wire-offers"></div>
					<b>See More Info + Deals</b> &raquo;
				</h4>
				{{ } }}
			</div>
			<div class="col-33">
				<h4>TODAY'S HOURS</h4>
				<p>{{= App.formatStoreHours(store) }}</p>
				{{ if (store.phone_number) { }}
					<h4>PHONE</h4>
					<p>{{= store.phone_number }}</p>
				{{ } }}
			</div>
			{{ if (store.deals.length > 0) { }}
			<div class="toggle-content">
				<h4><b>Take it with you - Use the Westfield App or Website for Maps &amp; Directions</b></h4>
			{{ } }}
			{{ if (store.deals.length == 0) { }}
			<div class="clr auto">
			{{ } }}
				{{ if (store.description.length > 0) { }}
				<h4>Description</h4>
				<p>{{= store.description }}</p>
				{{ } }}
				{{ if (store.deals.length > 0) { }}
					<h4>Deals and Offers</h4>
					{{ $(store.deals).each(function(j, deal) { }}
						{{ if (j == 3) return; }}
						<div class="col-33 deal">
							<h4><b>{{= deal.title }}</b></h4>
							<img src="{{= deal._links.image.href }}" />
							<p class="clr">{{= deal.description }}</p>
						</div>
					{{ }) }}
				{{ } }}
			</div>
		</article>
	{{ }) }}
</script>

<script type="text/template" id="template-store-filter">
	<div class="filter">
		<div class="col-50">
			<div class="select-wrapper">
				<div class="caret"></div>
				<p data-code="*">Choose Category</p>
				<ul>
					<li data-code="*">All Categories</li>
					{{ $(App.cache.categories).each(function(i, category) { }}
					<li data-code="{{= category.code }}" {{ if (category.children.length > 0) { }}subcategories{{ } }}>{{= category.name }}</li>
					{{ }) }}
				</ul>
			</div>
		</div>
		<div class="col-50">
			<div class="deal-toggle-btn" data-show="all">
				<div class="show-all">
					<div class="wf-wire-shopping"></div>
					<p>Show All Stores</p>
				</div>
				<div class="show-deals">
					<div class="wf-wire-offers"></div>
					<p>Show Only Stores with Deals</p>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="template-store-sub-filter">
	<div class="col-33">
		<div class="select-wrapper">
			<div class="caret"></div>
			<p data-code="{{= parentCode }}">Choose Sub Category</p>
			<ul>
				<li data-code="{{= parentCode }}">All Sub Categories</li>
				{{ $(subCategories).each(function(i, subCategory) { }}
				<li data-code="{{= subCategory.code }}">{{= subCategory.name }}</li>
				{{ }) }}
			</ul>
		</div>
	</div>
</script>