<script type="text/template" id="template-store-list">
	<p>I am looking for:</p>
	<select>
		<option disabled>Choose Category</option>
	</select>
	{{ $(stores).each(function(i, store) { }}
		<article>
			
		</article>
	{{ }) }}
</script>